# Git
alias g='git'
alias stash='git stash --include-untracked'

# Allow say to output wav files
alias say='say --data-format=LEF32@8000'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Laravel Artisan CLI
alias a="php artisan"

# Useful for downloading big files
alias curl_resumable="curl -L -O -C - "

# Composer alias
alias c="composer"

# Edit hosts file
alias hosts='sudo $EDITOR /etc/hosts'

# Gimme that warning
alias mv='mv -i'
