# Paths
export PATH="$HOME/.files/bin:$HOME/.composer/vendor/bin:/usr/local/git/bin:$HOME/adm/bin:$HOME/bin:$PATH"

# Make vim the default editor.
export EDITOR='vim';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

# PHP via Homebrew
# https://github.com/Homebrew/homebrew-php
#export PATH="$(brew --prefix homebrew/php/php56)/bin:$PATH"
#export PATH="$(brew --prefix homebrew/php/php70)/bin:$PATH"
