[user]
	name = Kristoffer Alfheim
	email = kristoffer.alfh@gmail.com
[alias]
	s = status
	co = checkout
[color]
	ui = true
[push]
	default = simple
[pull]
	rebase = true
[core]
	excludesfile = ~/.files/.gitignore_global
